.app{
    width: 100vw;
    gap: 20px;
    padding: 20px;
}
.inputSection {
    position: sticky;
    height: 100vh;
    top: 30px;
}
.app > div{
    width: 50%;
}
.textInput{
    height: 80vh!important
}
.outputs > div{
    margin-top: 10px;
    color: white;
    padding: 2px 10px;
    border-radius: 3px;
}
.outputs div:nth-child(even){
    background-color: #2594b3;
}
.outputs div:nth-child(odd){
    background-color: #f05e5e;
}